@keyframes over-margin {
  from {
    height: 80px;
  }

  to {
    height: 100px;
  }
}

.task-list .task {
  margin-bottom: 5px;
}

.task {
  border: 1px solid black;
  padding: 5px;
  width: fit-content;
  min-width: 200px;
  cursor: move;
  border: 3px solid #666;
  background-color: #ddd;
  border-radius: .5em;
  padding: 10px;
  margin-bottom: 5px;
}

.task-wrapper {
}

  .dragged {
      opacity: 0.4;
  }

  .task-wrapper.over {
    animation: 0.2s linear 0s over-margin;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
  }

  .task-wrapper.over .task {
    border: 3px dotted #666;
  }


