@keyframes over-margin {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 40px;
    }
}

.task-list .task {
    margin-bottom: 5px;
}

.task {
  border: 1px solid black;
  padding: 5px;
  width: fit-content;
  min-width: 200px;
  cursor: move;
  border: 3px solid #666;
  background-color: #ddd;
  border-radius: .5em;
  padding: 10px;
  margin-bottom: 5px;
}

  .task.over {
    border: 3px dotted #666;
    animation: 1s linear 0s over-margin;
  }
